.top-section .navbar ul{
    display: flex;
   
}
.top-section .navbar ul li{
    margin: 0 0 0 1rem;
    list-style-type:none;
}
.navbar{
    padding-top: 2%;
}

.top-section{
    background-color: black;
    color: white;
}

.top-section>.top-body{
    margin-top: 5rem;
    padding-bottom: 4rem;
}

.top-section>.top-body>.container>.row>.col-md-6>.row{
    margin-top: 15%;
}

.transaction-section{
    padding: 5rem 0;
    background-color: #E2F2EF;
}
.transaction-section .header h4{
    font-weight: bold;
    font-size: 2rem;
}
.transaction-section .header p{
  color: grey;
  font-size: 1rem;
}
.transaction-section>.header{
    margin-bottom: 3rem;
}

.transaction-section .container .row .col-md-3 .card i{
    font-size: 2rem;
}

.transaction-section .container .row .col-md-3 .card .card-body p{
    color: gray;
}



.transaction-section .container .row .col-md-3 .card :hover{
    cursor: pointer;
   
}

.accounts-section{
    background-color: white;
    padding: 3rem 0;
}

.accounts-section .first-row {
    margin-bottom: 4rem ;
}

.customer-section{
    padding: 4rem 0;
    background-color: #B7EFE4;
}




.review-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .review-card {
    flex: 0 0 calc(33.33% - 5px);
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    scroll-snap-align: start;
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f5f5f5;
    border: none;
    color: #333;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  