
<div class="top-section">
    <div class="navbar container">
        <h5>Pesa App</h5>
    
        <ul>
            <li>Learn</li>
            <li>App</li>
            <li>Community</li>
            <li>Unine at Work</li>
        </ul>
    
        <h4>Sign Up</h4>
        <h4>Get a demo</h4>
    </div>

    <div class="top-body">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-sm-12">
                    <h4>More Payment Options<br>Better than Cash</h4>
                    <p>With our Cash Application, You ca access more than 240 million customers as well as offering management tools, optiona and payment Methods</p>

                    <div class="row">
                        <div class="col ">
                            <img src="assets/images/appstore.png" alt="" width="100px" height="40px">
                        </div>
                        <div class="col">
                            <img src="assets/images/playstore.png" alt="" width="100px" >
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 ">
                    <img src="https://kstatic.googleusercontent.com/files/957db63a4ce96a84c9bb02313721097db54367b7f7bfe7fdc38f532e9d889c26e75aed2b2cc97da3d281e5cb1ae5abc9eb33ab08f17780b6eeb32b1165b728d0" alt="phone Image"
                    
                    height="300px" width="auto">
                </div>

            </div>
            
        </div>
    </div>

    
</div>

<div class="transaction-section">
    <div class="header text-center">
        <h4>Safe & Convenient Transaction</h4>
        <p>Want to pay anything so easy with the touch of a finger.Through<br>Pesa App, you can make practically any transaction</p>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <i class="fa-solid fa-gifts"></i>
                    <div class="card-body">
                      <h5 class="card-title">Get Reward</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    
                    <i class="fa-solid fa-shield-halved"></i>
                    <div class="card-body">
                      <h5 class="card-title">Always Protected</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <i class="fa-solid fa-money-bills"></i>
                    <div class="card-body">
                      <h5 class="card-title">No Hidden Fees</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <i class="fa-sharp fa-solid fa-truck"></i>
                    <div class="card-body">
                      <h5 class="card-title">Free shipping</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</div>

<div class="accounts-section container">
    <div class="row first-row">
        <div class="col-md-6 col-sm-12 text-center">
            <img src="assets/images/creditcard.png" alt="" height="200px">
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Keep your cash flow clear<br> and keep increasing</h4>
            <p>See it all at a glance when you link your cash <br> accounts. Credit cards, investments and bills</p>
            <button class="btn btn-success">Try for now &raquo;</button>
        </div>
    </div>

    <!-- next row -->

    <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
            <h5>Manage regularly</h5>
            <h5>payments easily</h5>
            <div class="row">
                <div class="col ">
                    <i class="fa-sharp fa-solid fa-earth-africa"></i>
                    <h6>Globality</h6>
                    <p>Send payments to the person in front of you and the rest of the world</p>
                </div>
                <div class="col">
                    <i class="fa-solid fa-building"></i>
                    <h6>Integrate</h6>
                    <p>We work with local banks and overseas banks so you dont have to worry</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <h5>Payments</h5>
                <div class="row">
                    <div class="col">
                        <p>free instant book transfers.Send and receive cash and more</p>
                    </div>
                    <div class="col text-center">
                        <img src="https://i.pinimg.com/564x/9a/62/b7/9a62b77b6c815dd1274a32f0742a5c00.jpg" alt="" height="200px">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
</div>

<div class="customer-section">
    <div class="container text-center">
        <h4>Our Customer Says</h4>

        <div class="review-container">
            <div class="review-card">Customer Review 1</div>
            <div class="review-card">Customer Review 2</div>
            <div class="review-card">Customer Review 3</div>
            <div class="review-card">Customer Review 4</div>
            <div class="review-card">Customer Review 5</div>
            <div class="review-card">Customer Review 6</div>
          </div>
          <!-- <button class="prev-btn">&#8249;</button>
          <button class="next-btn">&#8250;</button> -->
          
    </div>
</div>

<div class="download-section text-center ">
    <h4>Get Pesa App on Google<br>Play or App Store</h4>
    <p>Build your financial literacy wihin a transparent community<br>follow other inventors, share insights with people</p>
    <div class="container">
        <div class="row">
            <div class="col ">
                <img src="assets/images/appstore.png" alt="" width="100px" height="40px">
            </div>
            <div class="col">
                <img src="assets/images/playstore.png" alt="" width="100px" >
            </div>
        </div>
    </div>
    
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h6>Pesa App</h6>
                <div class="icon-container">
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <p>Technology Park 8-14</p>
                <p>Langata Road</p>
                <p>Nairobi, Kenya</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <p>Learn</p>
                <p>Apps</p>
                <p>Community</p>
            </div>
            <div class="col-md-3 col-sm-12">
                <p>Legal Mentions</p>
                <p>Terms of services</p>
                <p>Privacy Policy</p>
            </div>
        </div>
        <hr>
        <p class="text-center"> Template by Nyaranga@2023</p>
        
    </div>
</div>

